.icon-wait {
    font-size: 64px;
    color: gray;
  }

  .line-bottom {
    font-size: 1.7rem !important;
    border-bottom: 0.5px solid #c5bbbb !important;
    padding-bottom: 1rem !important;
  }

  b {
    font-size: 18px;
    font-weight: bold;
    margin-left: 1rem;
}