.button-css {
    border-radius: 0px !important;
    background-color: #230084;
  }

  .checkbox-md {
    margin: 0px 12px 0px 0px !important;
  }

  textarea {
    height: 12rem !important;
    border: 1px solid #00004f !important;
  }

  .color-danger {
    color: red;
  }

  .header-text {
    font-size: 14pt !important;
  }