.toolbar-ios {
    min-height: 56px !important;
}

.button-image {
    width: 32px;
    margin-right: 1rem;
}

.button-call {
    width: 24px;
    margin-right: 1rem;
}

.round {
    border-radius: 6px;
    text-transform: none;
}

.color-red {
    color: #D60000;
}

.color-gray {
    color: #8F8F8F;
}

.padding-left-error {
    padding-left: 2rem;
}

.button {
    --border-radius: 10px;
    height: 48px;
    font-size: 15px !important;
}
  