<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title (click)="goHome ()"><img class="logotio" src="assets/imgs/logotio.png"></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid> 
    <ion-row>
      <ion-col>
        <div *ngIf="!medical_escort?.is_checked">
          <ion-item class="ion-text-center" lines="none">
            <ion-label>
              <h1 class="title-label">{{ 'escolta_medica' | translate }}</h1>
              <br>
              <p class="ion-text-wrap">{{ 'Tu pedido está siendo atendido, por favor espere nuestra confirmación' | translate }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="ion-text-center height-70" lines="none">
            <ion-label>
              <ion-icon class="icon-wait" name="time-outline"></ion-icon>
              <p class="ion-margin-top ion-text-wrap">{{ 'Gracias por su paciencia' | translate }}</p>
            </ion-label>
          </ion-item>

          <ion-card>
            <ion-list>
              <ion-list-header>
                {{ 'Detalles de la solicitud' | translate }}
              </ion-list-header>

              <ion-item>
                <ion-label>
                  <b>{{ 'Cliente' | translate }}:</b>
                  <br>
                  {{ medical_escort?.user_fullname }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Fecha' | translate }}:</b>
                  <br>
                  {{ getFormatDate (medical_escort?.date) }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Horario de servicio' | translate }}:</b>
                  <br>
                  {{ medical_escort?.hour }} Hrs.
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Origen' | translate }}:</b>
                  <br>
                  <span class="ion-text-wrap">{{ medical_escort?.address_ori }}</span>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Destino' | translate }}:</b>
                  <br>
                  <span class="ion-text-wrap">{{ medical_escort?.address_des }}</span>
                  
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Cantidad de personas' | translate }}:</b>
                  <br>
                  {{ medical_escort?.number_patients }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Numero de dias' | translate }}:</b>
                  <br>
                  {{ medical_escort?.number_days }}
                </ion-label>
              </ion-item> 

              <ion-item>
                <ion-label>
                  <b>{{ 'Detalles' | translate }}:</b>
                  <br>
                  <span *ngIf="medical_escort?.need_doctor" style="display: block;">{{ 'Doctor: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_doctor" style="display: block;">{{ 'Doctor: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_nurse" style="display: block;">{{ 'Enfermera: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_nurse" style="display: block;">{{ 'Enfermera: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_paramedic" style="display: block;">{{ 'Paramedico: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_paramedic" style="display: block;">{{ 'Paramedico: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_oxygen" style="display: block;">{{ 'Oxigeno: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_oxygen" style="display: block;">{{ 'Oxigeno: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_spanish" style="display: block;">{{ 'Español: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_spanish" style="display: block;">{{ 'Español: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_english" style="display: block;">{{ 'Ingles: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_english" style="display: block;">{{ 'Ingles: No' | translate }}</span>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Descripcion' | translate }}:</b>
                  <br>
                  <p class="white-space">{{ medical_escort?.description }}</p>
                </ion-label>
              </ion-item> 
            </ion-list>   
          </ion-card>
          
          <ion-grid padding>
            <ion-row>
              <ion-col col-6>
                <ion-button class="no-border" expand="block" color="blue" (click)="edit ()">
                  {{ 'Editar pedido' | translate }}
                </ion-button>
              </ion-col>
              <ion-col col-6>
                <ion-button class="no-border" expand="block" color="red" (click)="cancel ()">
                  {{ 'Cancelar pedido' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div *ngIf="medical_escort?.is_checked">
          <ion-item class="ion-text-center" lines="none">
            <ion-label>
              <h1 class="title-label">{{ 'escolta_medica' | translate }}</h1>
              <p *ngIf="medical_escort?.state == 'observed'" class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;">
                <br>
                {{ 'Su pedido a sido observado, por favor corrija lo siguiente.' | translate }}
              </p>

              <p *ngIf="medical_escort?.state == 'approved'" class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;">
                <br>
                {{ 'Su solicitud a sido aprobada' | translate }}
              </p>

              <p *ngIf="medical_escort?.state == 'completed'" class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;">
                {{ 'El pasciente, nuestra prioridad' | translate }}
              </p>
            </ion-label>
          </ion-item>
          
          <ion-item class="ion-text-center height-70" lines="none" *ngIf="medical_escort?.state == 'observed' || medical_escort?.state == 'canceled'">
            <ion-label *ngIf="medical_escort?.state == 'observed'">
              <ion-icon class="icon-observed" name="alert-circle-outline"></ion-icon>
              <p class="ion-margin-top ion-text-wrap">{{ medical_escort?.last_message }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="ion-text-center height-70" lines="none" *ngIf="medical_escort?.state == 'approved'">
            <ion-label>
              <ion-icon class="icon-approved" name="checkmark-circle-outline"></ion-icon>
              <p class="ion-margin-top ion-text-wrap">{{ medical_escort?.last_message }}</p>
            </ion-label>
          </ion-item>

          <ion-card *ngIf="medical_escort?.state === 'approved'">
            <ion-list>
              <ion-item>
                <ion-label>
                  <b>{{ 'Costo' | translate }}</b>
                  <br>
                  {{ 'Total (inc. IGV):' | translate }}: {{ (medical_escort?.price / 100) | currency:'S/. ' }}
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>
          
          <ion-item class="ion-text-center height-70" lines="none" *ngIf="medical_escort?.state === 'completed'">
            <ion-label>
              <ion-icon class="icon-approved" name="checkmark-circle-outline"></ion-icon>
              <p class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;" *ngIf="medical_escort?.payment_type === 'cash'">
                {{ 'Un médico general lo visitará el' | translate }}
                {{ getFormatDate (medical_escort?.date) }}
                {{ 'a las' | translate }}
                {{ medical_escort?.hour }}
                {{ 'Hrs.' | translate }}
                {{ 'El pago por el servicio deberá ser entregado a al doctor el día de la visita.' | translate }}
              </p>
              <p class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;" *ngIf="medical_escort?.payment_type === 'online'">
                {{ 'Un médico general lo visitará el' | translate }}
                {{ getFormatDate (medical_escort?.date) }}
                {{ 'a las' | translate }}
                {{ medical_escort?.hour }}
                {{ 'Hrs.' | translate }}
              </p>
            </ion-label>
          </ion-item>

          <ion-card>
            <ion-list>
              <ion-list-header>
                {{ 'Detalles de la solicitud' | translate }}
              </ion-list-header>

              <ion-item>
                <ion-label>
                  <b>{{ 'Cliente' | translate }}:</b>
                  <br>
                  {{ medical_escort?.user_fullname }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Fecha' | translate }}:</b>
                  <br>
                  {{ getFormatDate (medical_escort?.date) }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Horario de servicio' | translate }}:</b>
                  <br>
                  {{ medical_escort?.hour }} Hrs.
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Origen' | translate }}:</b>
                  <br>
                  <span class="ion-text-wrap">{{ medical_escort?.address_ori }}</span>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Destino' | translate }}:</b>
                  <br>
                  <span class="ion-text-wrap">{{ medical_escort?.address_des }}</span>
                  
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Cantidad de personas' | translate }}:</b>
                  <br>
                  {{ medical_escort?.number_patients }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Numero de dias' | translate }}:</b>
                  <br>
                  {{ medical_escort?.number_days }}
                </ion-label>
              </ion-item> 

              <ion-item>
                <ion-label>
                  <b>{{ 'Detalles' | translate }}:</b>
                  <br>
                  <span *ngIf="medical_escort?.need_doctor" style="display: block;">{{ 'Doctor: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_doctor" style="display: block;">{{ 'Doctor: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_nurse" style="display: block;">{{ 'Enfermera: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_nurse" style="display: block;">{{ 'Enfermera: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_paramedic" style="display: block;">{{ 'Paramedico: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_paramedic" style="display: block;">{{ 'Paramedico: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_oxygen" style="display: block;">{{ 'Oxigeno: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_oxygen" style="display: block;">{{ 'Oxigeno: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_spanish" style="display: block;">{{ 'Español: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_spanish" style="display: block;">{{ 'Español: No' | translate }}</span>
                  <span *ngIf="medical_escort?.need_english" style="display: block;">{{ 'Ingles: Si' | translate }}</span>
                  <span *ngIf="!medical_escort?.need_english" style="display: block;">{{ 'Ingles: No' | translate }}</span>
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Descripcion' | translate }}:</b>
                  <br>
                  <p class="white-space">{{ medical_escort?.description }}</p>
                </ion-label>
              </ion-item> 
            </ion-list>  
          </ion-card>
          
          <div class="ion-text-center" *ngIf="medical_escort?.state == 'observed'">
            <ion-row>
              <ion-col size="6">
                <ion-button expand="block" class="no-border" color="blue" (click)="edit ()">
                  {{ 'Correguir' | translate }}
                </ion-button>
              </ion-col>

              <ion-col size="6">
                <ion-button expand="block" class="no-border" color="red" (click)="cancel ()">
                  {{ 'CANCEL' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </div>

          <div *ngIf="medical_escort?.state == 'approved'">
            <div class="ion-text-center" padding>
              <ion-row>
                <ion-col size="6" offset="3">
                  <ion-button expand="block" class="no-border" ion-ion-button color="blue" (click)="presentActionSheet (medical_escort?.price + medical_escort?.delivery_price)">
                    {{ 'Pedir' | translate }}
                  </ion-button>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
