<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title><img class="logotio" src="assets/imgs/logotio.png"></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="6"  size-lg="6" size-xl="6">
          <ion-list>
            <ion-item class="ion-text-center ion-text-wrap" lines="none">
              <ion-label>
                <h1 *ngIf="!is_edit" class="title-label">
                  {{ 'Traslado en ambulancia' | translate }}
                </h1>
                <h1 *ngIf="is_edit" class="title-label">
                  {{ 'Editar traslado en ambulancia' | translate }}
                </h1>
  
                <p>{{ 'Luego de validar' | translate }}</p>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label class="header-text" position="stacked">
                {{ 'Origen' | translate }}:
              </ion-label>
              <ion-input type="text" formControlName="address_ori" placeholder="{{ 'Direccion de origen' | translate }}"></ion-input>
            </ion-item>

            <div class="ion-margin-left" *ngIf="form.controls.address_ori.errors?.required">
              <small class="color-red">
                {{ '* Campo obligatorio' | translate }}
              </small>
            </div>

            <div class="ion-margin-left" *ngIf="form.controls.location_ori_lat.errors?.required ||
              form.controls.location_ori_lon.errors?.required">
              <small class="color-red">
                {{ "* Seleccione una ubicacion de origen en el mapa" | translate }}
              </small>
            </div>

            <ion-item lines="none">
              <ion-button ion-button expand="full" class="card-md" color="white" (click)="selectOrigen ()">
                {{ 'Marcar en mapa' | translate }} {{ editar_1 }}
              </ion-button>
            </ion-item>

            <ion-item>
              <ion-label class="header-text" position="stacked">
                {{ 'Destino' | translate }}:
              </ion-label>
              <ion-input type="text" formControlName="address_des" placeholder="{{ 'Direccion de destino' | translate }}"></ion-input>
            </ion-item>

            <div class="ion-margin-left" *ngIf="form.controls.address_des.errors?.required">
              <small class="color-red">
              {{ '* Campo obligatorio' | translate }}
            </small>
            </div>
            
            <div class="ion-margin-left" *ngIf="form.controls.location_des_lat.errors?.required ||
              form.controls.location_des_lon.errors?.required">
              <small class="color-red">
                {{ "* Seleccione una ubicacion de destino en el mapa" | translate }}
              </small>
            </div>

            <ion-item lines="none">
              <ion-button expand="full" class="card-md" color="white" (click)="selectDestino ()">
                {{ 'Marcar en mapa' | translate }} {{ editar_2 }}
              </ion-button>
            </ion-item>

            <ion-item>
              <ion-label class="header-text" position="stacked">
                {{ 'Numero de teléfono' | translate }}:
              </ion-label>
            </ion-item>

            <ion-grid>
              <ion-row>              
                <ion-col size="4" class="ion-align-self-end">
                  <ion-button small ion-button block color="blue" (click)="select_code ()">
                    <img [src]="getFlat ()">&nbsp;
                    {{ pais_selected.dial_code }}
                  </ion-button>
                </ion-col>
                <ion-col size="8">
                  <ion-item>
                    <ion-input type="tel" formControlName="phone_number" placeholder="985 858 787"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="ion-margin-left" *ngIf="form.controls.phone_number.errors?.required">
              <small class="color-red">
              {{ '* Campo obligatorio' | translate }}
            </small>
            </div>  
          </ion-list>
        </ion-col>

        <ion-col size="12" size-sm="12" size-md="6"  size-lg="6" size-xl="6">
          <ion-list lines="none">
            <ion-item lines="none">
              <ion-label class="header-text">{{ 'Fecha' | translate }}:</ion-label>
              <ion-datetime [min]="min_date" 
                cancelText="Cancelar" doneText="Seleccionar"
                monthNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre"
                displayFormat="D MMMM YYYY" formControlName="date"></ion-datetime>
            </ion-item>

            <div class="ion-margin-left" *ngIf="form.controls.date.errors?.required">
              <small class="color-red">
              {{ '* Campo obligatorio' | translate }}
            </small>
            </div> 

            <ion-item lines="none">
              <ion-label class="header-text">{{ 'Horario de servicio' | translate }}:</ion-label>
              <ion-select class="card-md" block formControlName="hour">
                <div *ngFor="let item of get_hours ()">
                  <ion-select-option *ngIf="check_hour (item)" [value]="item">
                    {{ item }}
                  </ion-select-option>
                </div>
              </ion-select>
            </ion-item>

            <div class="ion-margin-left" *ngIf="form.controls.hour.errors?.required">
              <small class="color-red">
                {{ '* Campo obligatorio' | translate }}
              </small>
            </div> 

            <ion-item>
              <ion-label class="header-text">{{ 'Tipo de ambulancia' | translate }}:</ion-label>
              <ion-select interface="popover" formControlName="tipo_ambulancia" (ionChange)="ambulanciaTipo ($event)">  
                <ion-select-option value="ambulancia_1">{{ 'Ambulancia 1' | translate }}</ion-select-option>
                <ion-select-option value="ambulancia_2">{{ 'Ambulancia 2' | translate }}</ion-select-option>
                <ion-select-option value="ambulancia_3">{{ 'Ambulancia 3' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item text-wrap text-center class="color-blue">
              <b>"{{ ambulancia_des }}"</b>
            </ion-item>

            <!--Tipo de comprobante -->
            <ion-item>
              <ion-label class="header-text">{{ 'Tipo de comprobante' | translate }}:</ion-label>
              <ion-select interface="popover" formControlName="tipo_comprobante" (ionChange)="comprobanteChange ($event)">
                <ion-select-option value="factura">{{ 'Factura' | translate }}</ion-select-option>
                <ion-select-option value="boleta">{{ 'Boleta' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>

            <div class="ion-margin-left" *ngIf="form.controls.tipo_comprobante.errors?.required">
              <small class="color-red">
                {{ '* Campo obligatorio' | translate }}
              </small>
            </div> 

            <div *ngIf="form.controls?.tipo_comprobante.value === 'factura'">
              <ion-item>
                <ion-label class="header-text" position="stacked">RUC:</ion-label>
                <ion-input type="tel" maxlength="11" placeholder="{{ 'Número de ruc' | translate }}" formControlName="ruc"></ion-input>  
              </ion-item>

              <div class="ion-margin-left" *ngIf="form.controls.ruc.errors?.required">
                <small class="color-red">{{ '* Campo obligatorio' | translate }}</small>
              </div>

              <ion-item>
                <ion-label class="header-text" position="stacked">{{ 'Razón social' | translate }}:</ion-label>
                <ion-input type="text" placeholder="{{ 'Nombre de la razón social' | translate }}" formControlName="razon_social">
                </ion-input>
              </ion-item>

              <div class="ion-margin-left" *ngIf="form.controls.razon_social.errors?.required">
                <small class="color-red">{{ '* Campo obligatorio' | translate }}</small>
              </div>  
            </div>

            <div class="conditions">
              <ion-checkbox color="blue" formControlName="terms_conditions"></ion-checkbox>
              {{ 'Acepto los' | translate }} <a href="http://www.cps.com.pe/terms">{{ 'términos & condiciones' | translate }}</a>
            </div>
          </ion-list>

          <ion-grid>
            <ion-row>
              <ion-col *ngIf="!is_edit" size="8" offset="2">
                <ion-button class="no-border" expand="block" color="blue" [disabled]="!form.valid" (click)="submit ()">
                  {{ 'Pedir' | translate }}
                </ion-button>
              </ion-col>

              <ion-col *ngIf="is_edit" size="8" offset="2">
                <ion-button class="no-border" expand="block" color="blue" [disabled]="!form.valid" (click)="submit ()">
                  {{ 'Actualizar' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
