.f-size {
    font-size: 18px !important;
  }

  textarea {
    height: 12rem !important;
    border: 1px solid #00004f !important;
  }

  .color-blue {
    color: #230084;
  }

  .header-text {
    font-size: 14pt !important;
  }