<ion-header>
  <ion-toolbar primary>
    <ion-buttons slot="start">
      <ion-button block (tap)="closeModal()">
        <ion-icon class="icon-arrow" name="arrow-back"></ion-icon>
        {{ 'Atras' | translate }}
      </ion-button>
    </ion-buttons> 

    <ion-title>{{ 'Seleccione su pais' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Buscar..." (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
  

<ion-content class="ion-padding">
  <ion-list>
    <ion-item (click)="selectItem ({name: 'Perú', dial_code: '+51', code: 'PE' })">
      Perú
    </ion-item>
    <ion-item *ngFor="let item of countryArray" (click)="selectItem (item)">
      {{ item.name }}
    </ion-item>
  </ion-list>
</ion-content>
