.item.item-md .checkbox-md {
    position: static;
    display: block;
    margin: 0px 12px 0px 0px;
  }
  
  .label-nm {
    margin: 0px 8px 0px 0px !important;
  }

  .text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .margin-left {
    margin-left: 1rem;
  }

  textarea {
    height: 12rem !important;
    border: 1px solid #00004f !important;
  }

  .icon-wait {
    font-size: 64px;
    color: gray;
  }

  .line-bottom {
    font-size: 1.7rem !important;
    border-bottom: 0.5px solid #c5bbbb !important;
    padding-bottom: 1rem !important;
  }

  b {
    font-size: 18px;
    font-weight: bold;
    margin-left: 1rem;
}