<ion-header>
  <ion-toolbar>
    <ion-title><img class="logotio" src="assets/imgs/logotio.png"></ion-title>
    <ion-buttons slot="start">
      <ion-button ion-button (click)="closeModal ()">
        {{ 'Atras' | translate }}
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="openCulqi ()">{{ 'Pago con Tarjeta Crédito' | translate }}</ion-button>
      </ion-col>

      <ion-col size="12">
        <ion-button expand="block" (click)="contraentrega ()">{{ 'Pago contra entrega' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
