<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title (click)="goHome ()"><img class="logotio" src="assets/imgs/logotio.png"></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="!delivery?.is_checked"> 
          <ion-item class="ion-text-center" lines="none">
            <ion-label>
              <h1 class="title-label">{{ 'Pedido de farmacia' | translate }}</h1>
              <br>
              <p class="ion-text-wrap">{{ 'Tu pedido está siendo atendido, por favor espere nuestra confirmación' | translate }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="ion-text-center height-70" lines="none">
            <ion-label>
              <ion-icon class="icon-wait" name="time-outline"></ion-icon>
              <p class="ion-margin-top ion-text-wrap">{{ 'Gracias por su paciencia' | translate }}</p>
            </ion-label>
          </ion-item>

          <ion-card>
            <ion-list>
              <ion-list-header>
                {{ 'Detalles de la solicitud' | translate }}
              </ion-list-header>

              <ion-item>
                <ion-label>
                  <b>{{ 'Cliente' | translate }}:</b>
                  <br>
                  {{ auth.user?.first_name }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Fecha' | translate }}:</b>
                  <br>
                  {{ getFormatDate (delivery?.date) }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Tipo de comprobante' | translate }}:</b>
                  <br>
                  <span *ngIf="delivery?.tipo_comprobante === 'factura'">Factura</span>
                  <span *ngIf="delivery?.tipo_comprobante === 'boleta'">Boleta</span>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="delivery?.ruc !== ''">
                <ion-label>
                  <b>RUC:</b>
                  <br>
                  {{ delivery?.ruc }}
                </ion-label>
              </ion-item>

              <ion-item *ngIf="delivery?.ruc !== ''">
                <ion-label>
                  <b>{{ 'Razón social' | translate }}:</b>
                  <br>
                  {{ delivery?.razon_social }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Su pedido de' | translate }}:</b>
                  <br>
                  <p class="detalle">{{ delivery?.medicines }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col size="6">
                <ion-button class="no-border" expand="block" color="blue" (click)="editDelivery ()">
                  {{ 'Editar pedido' | translate }}
                </ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button class="no-border" expand="block" color="red" (click)="cancelDelivery ()">
                  {{ 'Cancelar pedido' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>  
        </div>

        <div *ngIf="delivery?.is_checked">
          <ion-item class="ion-text-center" lines="none">
            <ion-label>
              <h1 class="title-label">{{ 'PHARMACY_DELIVERY' | translate }}</h1>
              <p *ngIf="delivery?.state == 'observed'" class="ion-text-wrap">
                <br>
                {{ 'Su pedido a sido observado, por favor corrija lo siguiente.' | translate }}
              </p>

              <p *ngIf="delivery?.state == 'approved'" class="ion-text-wrap">
                <br>
                {{ 'Su solicitud a sido aprobada' | translate }}
              </p>

              <p *ngIf="delivery?.state == 'completed'" class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;">
                {{ 'El pasciente, nuestra prioridad' | translate }}
              </p>
            </ion-label>
          </ion-item>    
          
          <ion-item class="ion-text-center height-70" lines="none" *ngIf="delivery?.state == 'observed' || delivery?.state == 'canceled'">
            <ion-label *ngIf="delivery?.state == 'observed'">
              <ion-icon class="icon-observed" name="alert-circle-outline"></ion-icon>
              <p class="ion-margin-top ion-text-wrap">{{ delivery?.last_message }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="ion-text-center height-70" lines="none" *ngIf="delivery?.state == 'approved'">
            <ion-label>
              <ion-icon class="icon-approved" name="checkmark-circle-outline"></ion-icon>
              <p class="ion-margin-top ion-text-wrap">{{ delivery?.last_message }}</p>
            </ion-label>
          </ion-item>
          
          <ion-item class="ion-text-center height-70" lines="none" *ngIf="delivery?.state === 'completed'">
            <ion-label>
              <ion-icon class="icon-approved" name="checkmark-circle-outline"></ion-icon>
              <p class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;" *ngIf="delivery?.payment_type === 'cash'">
                {{ 'Su pedido sera entregado dentro de' | translate }} {{ getRelativeTime (delivery?.delivery_time) }} min. {{ 'Usted debe realizar el pago una vez recibido los productos.' | translate }}
              </p>
              <p class="ion-text-wrap" style="padding-left: 0.5rem; padding-right: 0.5rem;" *ngIf="delivery?.payment_type === 'online'">
                {{ 'Su pedido sera entregado dentro de' | translate }} {{ getRelativeTime (delivery?.delivery_time) }} min.
              </p>
            </ion-label>
          </ion-item>

          <ion-card *ngIf="delivery?.state === 'approved'">
            <ion-list>
              <ion-item>
                <ion-label>
                  <b>{{ 'Costo' | translate }}</b>
                  <br>
                  <span style="display: block;">{{ 'Costo:' | translate }} {{ (delivery?.price / 100) | currency:'S/. ' }}</span>
                  <span style="display: block;">{{ 'Costo de envio:' | translate }} {{ (delivery?.delivery_price / 100) | currency:'S/. ' }}</span>
                  <span style="display: block;">{{ 'Total (inc. IGV):' | translate }}: {{ ((delivery?.price / 100) + (delivery?.delivery_price / 100)) | currency:'S/. ' }}</span>
                  <span class="ion-margin-top">{{ 'Tiempo de entrega:' | translate }} {{ getRelativeTime (delivery?.delivery_time) }} min.</span>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-card *ngIf="delivery?.state === 'completed'">
            <ion-list>
              <ion-item>
                <ion-label>
                  <b>{{ 'Costo:' | translate }}</b>
                  <br>
                  {{ (delivery?.price / 100) | currency:'S/. ' }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Costo de envio:' | translate }}</b>
                  <br>
                  {{ (delivery?.delivery_price / 100) | currency:'S/. ' }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Total (inc. IGV):' | translate }}:</b>
                  <br>
                  {{ ((delivery?.price / 100) + (delivery?.delivery_price / 100)) | currency:'S/. ' }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Tiempo de entrega:' | translate }}</b>
                  <br>
                  {{ getRelativeTime (delivery?.delivery_time) }} min.
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>

          <ion-card>
            <ion-list>
              <ion-list-header>
                {{ 'Detalles de la solicitud' | translate }}
              </ion-list-header>

              <ion-item>
                <ion-label>
                  <b>{{ 'Cliente' | translate }}:</b>
                  <br>
                  {{ auth.user?.first_name }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Fecha' | translate }}:</b>
                  <br>
                  {{ getFormatDate (delivery?.date) }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Tipo de comprobante' | translate }}:</b>
                  <br>
                  <span *ngIf="delivery?.tipo_comprobante === 'factura'">Factura</span>
                  <span *ngIf="delivery?.tipo_comprobante === 'boleta'">Boleta</span>
                </ion-label>
              </ion-item>

              <ion-item *ngIf="delivery?.ruc !== ''">
                <ion-label>
                  <b>RUC:</b>
                  <br>
                  {{ delivery?.ruc }}
                </ion-label>
              </ion-item>

              <ion-item *ngIf="delivery?.ruc !== ''">
                <ion-label>
                  <b>{{ 'Razón social' | translate }}:</b>
                  <br>
                  {{ delivery?.razon_social }}
                </ion-label>
              </ion-item>

              <ion-item>
                <ion-label>
                  <b>{{ 'Su pedido de' | translate }}:</b>
                  <br>
                  <p class="detalle">{{ delivery?.medicines }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>

          <div class="ion-text-center" *ngIf="delivery?.state == 'observed'">
            <ion-row>
              <ion-col size="6">
                <ion-button class="no-border" expand="block" color="blue" (click)="editDelivery ()">
                  {{ 'Correguir' | translate }}
                </ion-button>
              </ion-col>

              <ion-col size="6">
                <ion-button class="no-border" expand="block" color="red" (click)="cancelDelivery ()">
                  {{ 'CANCEL' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </div>

          <div *ngIf="delivery?.state === 'approved'">
            <ion-grid>
              <ion-row>
                <ion-col size="6" offset="3">
                  <ion-button class="no-border" expand="block" color="blue" (click)="goBuy (delivery?.price + delivery?.delivery_price)">
                    {{ 'Pedir' | translate }}
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
