.emergency {
    background-color: #D50000;
    color: #fff;
}

.emergency-logged {
    background-color: #230084;
    color: #fff;
}

.label-white {
    color: #fff;
}

.home-item {
    height: 100%;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
}

.ambulance-card {
    border-radius: 6px;
}

.text-white {
    color: white;
}

.logo-eme {
    padding-top: 25px;
    width: 35%;
    margin: 0 auto;
}

.logo-css {
    padding-top: 25px;
    width: 35%;
    margin: 0 auto;
    opacity: 0.85;
}

h3 {
    font-weight: bold !important;
    font-size: 19px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}