<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title><img class="logotio" src="assets/imgs/logotio.png"></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="!transfer_ambulance?.is_checked">
          <ion-item class="ion-text-center" lines="none">
            <ion-label>
              <h1 class="title-label">{{ 'TRANSFER_BY_AMBULANCE' | translate }}</h1>
              <br>
              <p class="ion-text-wrap">{{ 'Tu pedido está siendo atendido, por favor espere nuestra confirmación' | translate }}</p>
            </ion-label>
          </ion-item>

          <ion-item class="ion-text-center height-70" lines="none">
            <ion-label>
              <ion-icon class="icon-wait" name="time"></ion-icon>
              <p class="ion-text-wrap ion-margin-top">{{ 'Gracias por su paciencia' | translate }}</p>
            </ion-label>
          </ion-item>

          <ion-card>
            <ion-list lines="none">
              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Cliente' | translate }}:</b>
              </ion-label>
              <ion-item lines="none">
                {{ auth.user?.first_name }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Fecha' | translate }}:</b>
              </ion-label>
              <ion-item lines="none">
                {{ getFormatDate (transfer_ambulance?.date) }}
              </ion-item>

               <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Horario de servicio' | translate }}:</b>
              </ion-label>
              <ion-item lines="none">
                {{ transfer_ambulance?.hour }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Origen' | translate }}:</b>
              </ion-label>
              <ion-item lines="none" class="detalle">
                {{ transfer_ambulance?.address_ori }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Destino' | translate }}:</b>
              </ion-label>
              <ion-item lines="none" class="detalle">
                {{ transfer_ambulance?.address_des }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Horario de servicio' | translate }}:</b>
              </ion-label>
              <ion-item lines="none" class="detalle">
                {{ transfer_ambulance?.address_des }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Tipo de ambulancia' | translate }}:</b>
              </ion-label>
              <ion-item lines="none">
                <span *ngIf="transfer_ambulance?.tipo_ambulancia === 'ambulancia_1'">
                  {{ 'Ambulancia 1' | translate }}
                </span>
                <span *ngIf="transfer_ambulance?.tipo_ambulancia === 'ambulancia_2'">
                  {{ 'Ambulancia 2' | translate }}
                </span>
                <span *ngIf="transfer_ambulance?.tipo_ambulancia === 'ambulancia_3'">
                  {{ 'Ambulancia 3' | translate }}
                </span>
              </ion-item>
            </ion-list>   
          </ion-card>

          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col col-6>
                <ion-button class="no-border" expand="block" color="blue" (click)="edit ()">
                  {{ 'Editar pedido' | translate }}
                </ion-button>
              </ion-col>
              <ion-col col-6>
                <ion-button class="no-border" expand="block" color="red" (click)="cancel ()">
                  {{ 'Cancelar pedido' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div *ngIf="transfer_ambulance?.is_checked">
          <ion-item class="ion-text-center" lines="none"> 
            <ion-label>
              <h1 class="title-label">{{ 'TRANSFER_BY_AMBULANCE' | translate }}</h1>
            </ion-label>
          </ion-item>     
          
          <ion-card color="danger" *ngIf="transfer_ambulance?.state == 'observed' || transfer_ambulance?.state == 'canceled'">
            <ion-card-header>
              <b *ngIf="transfer_ambulance?.state == 'observed'">{{ 'Estado: Observado' | translate }}</b>
              <b *ngIf="transfer_ambulance?.state == 'canceled'">{{ 'Estado: Cancelado' | translate }}</b>
            </ion-card-header> 
            <ion-card-content style="margin-left: 1rem;">
              {{ transfer_ambulance?.last_message }}
            </ion-card-content> 
          </ion-card>

          <ion-card color="blue" *ngIf="transfer_ambulance?.state == 'approved'">
            <ion-card-header>
              <b>{{ 'Estado: Aprobado' | translate }}</b>
            </ion-card-header> 
            <ion-card-content style="margin-left: 1rem;">
              {{ transfer_ambulance?.last_message }}
            </ion-card-content>
          </ion-card>
          
          <ion-card color="green" *ngIf="transfer_ambulance?.state === 'completed'">
              <ion-card-header>
                <b *ngIf="transfer_ambulance?.payment_type === 'online'">{{ 'Pagado' | translate }}</b>
                <b *ngIf="transfer_ambulance?.payment_type === 'cash'">{{ 'Tipo de pago: contra entrega' | translate }}</b>
              </ion-card-header> 
              <ion-card-content style="margin-left: 1rem;">
                <p class="ion-text-wrap" *ngIf="transfer_ambulance?.payment_type === 'online'">
                  {{ 'Por favor llegaremos en el horario solicitado.' | translate }}
                </p>
                <p class="ion-text-wrap" *ngIf="transfer_ambulance?.payment_type === 'cash'">
                  {{ 'Por favor, llegaremos en el horario solicitado, pague al doctor(a). Gracias.' | translate }}
                </p>
              </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-list lines="none">
              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Cliente' | translate }}:</b>
              </ion-label>
              <ion-item lines="none">
                {{ auth.user?.first_name }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Fecha' | translate }}:</b>
              </ion-label>
              <ion-item lines="none">
                {{ getFormatDate (transfer_ambulance?.date) }}
              </ion-item>

               <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Horario de servicio' | translate }}:</b>
              </ion-label>
              <ion-item lines="none">
                {{ transfer_ambulance?.hour }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Origen' | translate }}:</b>
              </ion-label>
              <ion-item lines="none" class="detalle">
                {{ transfer_ambulance?.address_ori }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Destino' | translate }}:</b>
              </ion-label>
              <ion-item lines="none" class="detalle">
                {{ transfer_ambulance?.address_des }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Horario de servicio' | translate }}:</b>
              </ion-label>
              <ion-item lines="none" class="detalle">
                {{ transfer_ambulance?.address_des }}
              </ion-item>

              <ion-label class="ion-margin-left ion-margin-top ion-margin-right line-bottom" color="dark">
                <b>{{ 'Tipo de ambulancia' | translate }}:</b>
              </ion-label>
              <ion-item lines="none">
                <span *ngIf="transfer_ambulance?.tipo_ambulancia === 'ambulancia_1'">
                  {{ 'Ambulancia 1' | translate }}
                </span>
                <span *ngIf="transfer_ambulance?.tipo_ambulancia === 'ambulancia_2'">
                  {{ 'Ambulancia 2' | translate }}
                </span>
                <span *ngIf="transfer_ambulance?.tipo_ambulancia === 'ambulancia_3'">
                  {{ 'Ambulancia 3' | translate }}
                </span>
              </ion-item>
            </ion-list>   
          </ion-card>

          <div class="ion-text-center" *ngIf="transfer_ambulance?.state == 'observed'">
            <ion-row>
              <ion-col size="12" size-sm="6">
                <ion-button class="no-border" ion-button color="blue" (click)="edit (transfer_ambulance?.id)">
                  {{ 'Correguir' | translate }}
                </ion-button>
              </ion-col>

              <ion-col size="12" size-sm="6">
                <ion-button class="no-border" ion-button color="red" (click)="cancel (transfer_ambulance?.id)">
                  {{ 'CANCEL' | translate }}
                </ion-button>
              </ion-col>
            </ion-row>
          </div>

          <div *ngIf="transfer_ambulance?.state == 'approved'">
            <ion-card>
              <ion-card-header>
                <b>{{ 'Costo' | translate }}</b>
              </ion-card-header> 
              <ion-card-content style="margin-left: 1rem;">
                <p class="ion-text-wrap">{{ 'Total (inc. IGV):' | translate }} S/. {{ getFormatPrice (transfer_ambulance?.price) }}</p>
              </ion-card-content>
            </ion-card>

            <div class="ion-text-center" padding>
              <ion-button class="no-border" ion-button color="blue" (click)="presentActionSheet (transfer_ambulance?.price + transfer_ambulance?.delivery_price)">
                {{ 'Pedir' | translate }}
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
