.home-item {
    text-align: center;
    height: 100%;
    width: 100%;
  }

  .img-icono {
    padding-top: 14px; 
    width: 30%;
    margin: 0 auto;
  }

  .new-card {

  }

  .header {
    margin-top: 5px;
    margin-bottom: 14px;
  }

  .xyz {
    font-size: 1.4rem !important; 
  }

  .no-margin-card {
    margin: 0px !important;
  }

  .card-md {
    margin: 0px !important;
  }

  .padding-segment {
    padding: 9px !important;
  }