.home-item {
    text-align: center;
    height: 100%;
    width: 100%;
  }

  .img-icono {
    padding-top: 30px;
    padding-bottom:  6px;
    width: 27%;
    margin: 0 auto;
  }

  .header {
    padding-top: 6px;
    padding-bottom: 0px;
    padding-bottom: 30px;
  }

  .xyz {
    font-size: 16px !important;
  }

  .xxx {
    font-size: 14px !important;
    padding-left: 8px;
    padding-right: 8px;
  }

  .no-margin-card {
    margin: 0px !important;
  }

  .card-md {
    margin: 0px !important;
  }

  .padding-segment {
    padding: 9px !important;
  }

  .header-s {
    padding-left: 12px;
    padding-bottom: 30px;
    padding-right: 12px;
  }