.item.item-md .checkbox-md {
    position: static;
    display: block;
    margin: 0px 12px 0px 0px;
}

.label-nm {
    margin: 0px 8px 0px 0px !important;
}

.text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.margin-left {
    margin-left: 1rem;
}

.round {
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 6px;
    text-transform: none;
}

.imagen-css {
    height: auto;
    width: 32px;
}

.header-text {
    font-size: 13pt !important;
}

.header-telefono {
    font-size: 18pt !important;
    font-weight: 500 !important;
}
