<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button block (click)="closeModal()">
        <ion-icon class="icon-arrow" name="arrow-back"></ion-icon>
        {{ 'Atras' | translate }}
      </ion-button>
    </ion-buttons> 

    <ion-title>{{ 'Seleccione ubicacion' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar #searchbar [(ngModel)]="search_text"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-card id="map-card" class="map-class2 ion-no-padding ion-no-margin">
          <div #map id="map"></div>
        </ion-card>

        <div class="ion-text-center ion-margin-top">
          <ion-button color="blue" (click)="select ()">
            {{ 'Seleccionar' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>