.f-size {
font-size: 18px !important;
}

.text-area {
padding-left: 12px !important;
/*border: 1px solid #bdb2b2 !important;*/
height: 120px;

.text-input {
    height: 100px;
}
}

textarea {
height: 12rem !important;
border: 1px solid #00004f !important;
border-radius: 3px;
padding: 3px;
}

.text-count {
font-size: 24px;
}

.checkbox-md {
margin: 0px 12px 0px 0px !important;
}

.link {
margin-left: -12px;
font-size: 1.6rem;
}

.conditions {
font-size: 15px;
padding: 16px;
}

.conditions ion-checkbox {
    float: left;
    margin-right: 8px;
}

.conditions ion-label {
float: left;
width: 70%;
}

.header-text {
    font-size: 14pt !important;
  }