<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title (click)="goHome ()"><img class="logotio" src="assets/imgs/logotio.png"></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="ion-text-center" lines="none">
          <ion-label>
            <h1 class="title-label">{{ 'Personal details' | translate }}</h1>
          </ion-label>
        </ion-item>
        
        <form [formGroup]="form">
          <ion-list>
            <ion-card>
              <ion-list style="padding: 0px;">
                <ion-item class="entry" lines="none" style="margin-bottom: 6px;">
                  <ion-input  type="text" formControlName="name" placeholder="{{ 'Nombre del paciente' | translate }}"></ion-input>
                </ion-item>

                <ion-item class="entry" lines="none" style="margin-bottom: 6px;">
                  <ion-input type="text" formControlName="phone_number" placeholder="{{ 'Numero de teléfono' | translate }}"></ion-input>
                </ion-item>

                <ion-item class="entry-css" (click)="selectCountry()" lines="none" style="margin-bottom: 6px;">
                  <ion-label *ngIf="nationality === ''">
                    {{ "Seleccione una nacionalidad" | translate }}
                  </ion-label>
                  <ion-label *ngIf="nationality !== ''">
                    {{ nationality }}
                  </ion-label>
                  <ion-icon style="font-size: 16px;" slot="end" color="grey" name="caret-down-outline"></ion-icon>
                </ion-item>

                <!-- <div class="padding-left-error entry" *ngIf="form.controls.nationality.errors?.required">
                  <small class="color-red">{{ '* Campo obligatorio' | translate }}</small>
                </div> -->

                <ion-item class="entry" lines="none" style="margin-bottom: 6px;">
                  <ion-input type="text" formControlName="email" placeholder="{{ 'Correo electrónico' | translate }}"></ion-input>
                </ion-item>

                <ion-item class="entry" lines="none">
                  <ion-textarea class="text-area" formControlName="message" placeholder="{{ '¿Algún mensaje?' | translate }}"></ion-textarea>
                </ion-item>
              </ion-list>
            </ion-card>

            <ion-item class="ion-padding-top ion-text-center" lines="none">
              <ion-label>
                <h1>{{ 'Mi cita' | translate }}</h1>
                <h2>{{ final_data.nombre }}</h2>
                <h3>{{ getFormatDate (final_data.fecha, final_data.hor_con) }}</h3>
                <br>
                <div *ngIf="check_1">
                  <h2>{{ 'Precio' | translate }}</h2>
                  <h2><b>{{ price | currency:'S/. ' }}</b></h2>
                </div>
              </ion-label>
            </ion-item>
            
            <ion-card *ngIf="check_2">
              <ion-item class="ion-text-wrap card-precio ion-text-center">
                {{ 'Por ser peruano' | translate }}
              </ion-item>
            </ion-card>

            <ion-grid>
              <ion-row>
                <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="6" offset-xl="3">
                  <div class="ion-text-center">
                    <ion-checkbox style="margin-right: 0.5rem;" color="blue" formControlName="terms_conditions"></ion-checkbox>
                    <span>{{ 'Acepto los' | translate }}&nbsp;<a href="http://www.cps.com.pe/terms"> {{ 'términos & condiciones' | translate }}</a></span>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="ion-text-center ion-padding-top">
              <ion-button class="no-border" [disabled]="!form.valid" color="blue" (click)="openCheckout ()">
                {{ 'Reservar ahora' | translate }}
              </ion-button>
            </div>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>